<a href="https://colab.research.google.com/github/ObidulKadir/Python_Basic/blob/master/Object_Oriented_Programming_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
Interesting fact in oop python.

> in general ,we cannot access private variable outside the class.
but in python we can get the 
example: customer1.__dict__.Here we can see all variable and how we can access.after that ,{'_Account__id': '01', '_Account__name': 'Kadir', '_Account__balance': 0}
then we can use in this way, customer1._Acount__id.


```

In [25]:
class Account:
  def __init__(self,custom_id,name,inital_balance=0):
    self.__id = custom_id
    self.__name = name
    self.__balance = inital_balance
  
  def get_balance(self):
    return self.__balance
  def deposite(self,amount):
      self.__balance += amount
      return self.__balance
  def withdraw(self,amount):
    if amount > self.__balance:
      print("Insufficent balance")
    else:  
      self.__balance -=amount
      return self.__balance




customer1 = Account("01","Kadir")
print(customer1.__dict__)

{'_Account__id': '01', '_Account__name': 'Kadir', '_Account__balance': 0}

In [29]:
print("Customer Number 1 info:",customer1._Account__id,customer1._Account__name,customer1._Account__balance)

Customer Number 1 info: 01 Kadir 0

In [30]:
print(customer1.get_balance())

0

In [31]:
print(customer1.deposite(100000))
print(customer1.get_balance())

100000
100000



```
Every time how much value is pass through the deposite() function.
here, we pass 8 times so value and reccent balance are 800000.
```

In [32]:
print(customer1.deposite(100000))

200000

In [33]:
print(customer1.get_balance())

200000

In [34]:
customer1.withdraw(100000)

100000



```
Interesting fact is that if we withdraw money its subtract the money from actual money.

```

In [35]:
customer1.get_balance()

100000



```
So,our recent balance is 100000.
```

In [36]:
n = int(input("Enter the amount you want to transaction :"))
print("Your withraw is complete .Now present balance is : ",customer1.withdraw(n))

Enter the amount you want to transaction :10000
Your withraw is complete .Now present balance is :  90000

In [37]:
customer2 = Account('02','Shayan')

customer3 = Account('03','Rizwan')
customer4 = Account ('04','Aryan')



```
**Here, i create some customer account with there id and name.and we are gonna deposite the vast ammount.**
```

In [39]:
customer2.deposite(10000)
customer3.deposite(20000)
customer4.deposite(4000)

8000



```
# DONT be Afraid because here only shows last customer deposite ammount...heheheh
```

In [40]:
print(customer2.get_balance())
print(customer3.get_balance())
print(customer4.get_balance())

20000
40000
8000



```
Now we are gonna fetch the customer name and id .which customers transaction below 20000.lets seee.......
```

In [41]:
l = [customer1,customer2,customer3,customer4]

In [44]:
for object in l:
  if object._Account__balance < 20000:
    print(object._Account__id,object._Account__name)

04 Aryan

In [55]:
class Saving_account(Account):
  def __init__(self,id,name,inital_bal = 0):
    super().__init__(id,name,inital_bal) #access init method through the super() keyword.
    self.limit = 50000
  #method_overriding____
  def withdraw(self,amount):
    if amount < self.limit:
        new_balance = super().withdraw(amount)
        self.limit -= amount
        return new_balance
    else:
      print('Daily limit reached..!!!')

In [56]:
coust1 = Saving_account(101,'rifon')
coust1



```
Here, creating a object of saving account
```

In [57]:
coust1.__dict__

{'_Account__balance': 0,
 '_Account__id': 101,
 '_Account__name': 'rifon',
 'limit': 50000}

In [58]:
coust1.deposite(100000)

100000

In [59]:
coust1.withdraw(40000)

60000

In [60]:
coust1.withdraw(50000)

Daily limit reached..!!!