<a href="https://colab.research.google.com/github/ObidulKadir/Python_Basic/blob/master/Object_Oriented_Programming_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
Interesting fact in oop python.

> in general ,we cannot access private variable outside the class.
but in python we can get the 
example: customer1.__dict__.Here we can see all variable and how we can access.after that ,{'_Account__id': '01', '_Account__name': 'Kadir', '_Account__balance': 0}
then we can use in this way, customer1._Acount__id.


```

In [34]:
class Account:
  def __init__(self,custom_id,name,inital_balance=0):
    self.__id = custom_id
    self.__name = name
    self.__balance = inital_balance
  
  def get_balance(self):
    return self.__balance
  def deposite(self,amount):
    if amount > self.__balance:
      print("Insufficent balance")
    else:
      self.__balance += amount
      return self.__balance
  def withdraw(self,amount):
    self.__balance -=amount
    return self.__balance




customer1 = Account("01","Kadir")
print(customer1.__dict__)

{'_Account__id': '01', '_Account__name': 'Kadir', '_Account__balance': 0}

In [4]:
print("Customer Number 1 info:",customer1.id,customer1.name,customer1.inital_balance)

Customer Number 1 info: 01 Kadir 0

In [6]:
print(customer1.get_balance())

0

In [14]:
print(customer1.deposite(100000))
print(customer1.get_balance())

800000
800000



```
Every time how much value is pass through the deposite() function.
here, we pass 8 times so value and reccent balance are 800000.
```

In [15]:
print(customer1.deposite(100000))

900000

In [16]:
print(customer1.get_balance())

900000

In [18]:
customer1.withdraw(100000)

800000



```
Interesting fact is that if we withdraw money its subtract the money from actual money.

```

In [19]:
customer1.get_balance()

800000



```
So,our recent balance is 800000.
```

In [22]:
n = int(input("Enter the amount you want to transaction :"))
print("Your withraw is complete .Now present balance is : ",customer1.withdraw(n))

Enter the amount you want to transaction :100000
Your withraw is complete .Now present balance is :  600000

In [23]:
customer2 = Account('02','Shayan')

customer3 = Account('03','Rizwan')
customer4 = Account ('04','Aryan')



```
**Here, i create some customer account with there id and name.and we are gonna deposite the vast ammount.**
```

In [27]:
customer2.deposite(10000)
customer3.deposite(20000)
customer4.deposite(4000)

16000



```
# DONT be Afraid because here only shows last customer deposite ammount...heheheh
```

In [29]:
print(customer2.get_balance())
print(customer3.get_balance())
print(customer4.get_balance())

40000
80000
16000



```
Now we are gonna fetch the customer name and id .which customers transaction below 20000.lets seee.......
```

In [30]:
l = [customer1,customer2,customer3,customer4]

In [32]:
for object in l:
  if object.balance < 20000:
    print(object.id,object.name)

04 Aryan