<a href="https://colab.research.google.com/github/ObidulKadir/Python_Basic/blob/master/PythonProblemSolved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
Write a python program to ind those numbers which are divisible by 7 and 5 , between 1500 and 2700(both included).
```

In [3]:
for i in range(1500,2701):
  if(i%5 == 0 and i%7 == 0):
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

2.`Write a python program to count the number of even and odd numbers from a series of numbers.`

In [13]:
Number = (1,2,3,4,5,6,7)

count_even = 0
count_odd = 0
for value in Number:
	if value % 2 == 0:
		count_even = count_even + 1
	elif value % 2 != 0:
		count_odd = count_odd + 1
	else:
		print('Not the numbers:')

print('Number of even numbers:',count_even)
print('Number of even numbers:',count_odd)

Number of even numbers: 3
Number of even numbers: 4

In [17]:
list = []
print('Enter the number of list :')
for i in range(0,4):
  data=int(input())
  list.append(data)
print('Number :',list)


count_even = 0
count_odd = 0
for value in list:
	if value % 2 == 0:
		count_even = count_even + 1
	elif value % 2 != 0:
		count_odd = count_odd + 1
	else:
		print('Not the numbers:')

print('Number of even numbers:',count_even)
print('Number of even numbers:',count_odd)

Enter the number of list :
2
3
5
7
Number : [2, 3, 5, 7]
Number of even numbers: 1
Number of even numbers: 3

3.

```
Write a python program which iterates the integers from 1 to 50.
```

In [29]:
for fizzbuzz in range(51):
  if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
    continue
  elif fizzbuzz % 3 == 0:
    print("fizz")
    continue
  elif fizzbuzz % 5 == 0:
    print("buzz")
    continue
  else: 
    print(fizzbuzz)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

4.`Factorial of any number n is represented by n! and is  equal to 1*2*3*....(n-1)*n`

In [30]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial(n-1)

n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120